body {
    background-color: #ededed;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}

.content {
    display: flex;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: #fff;
}